.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.24), 0 0 7px rgba(0, 0, 0, 0.12);
  z-index: 1030;
  transition: width 0.25s;
}
